.popUpWindow {
  background-color: rgba(100, 100, 200, 0.9);
  height: 10%;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  top: 45%;
  border-style: solid;
  border-width: 1px;
}

.full-height {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(134, 132, 137, 0.8);
}

.shadow {
  -moz-box-shadow: 2px 4px 15px 4px #000015;
  -webkit-box-shadow: 2px 4px 15px 4px #000015;
  box-shadow: 2px 4px 15px 4px #000015;
}

input:placeholder-shown {
  color: red;
}

#submitBtn {
  border-color: black;
}
